<a href="https://colab.research.google.com/github/yamini0809/MI_ICP2/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Use a python code to display the following star pattern using the for loop

In [2]:
rows = 5
#used nested for loop to display top and bottam 5 rows of star pattern
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")
for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

2. Use looping to output the elements from a provided list present at odd indexes.
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
# Define the list of integers
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Loop through elements of the list starting from index 1, with a step of 2
# This means it will select elements at odd indices: 1, 3, 5, 7, 9
for i in my_list[1::2]:
# Print each element followed by a space, rather than a newline
    print(i, end=" ")

20 40 60 80 100

3. Write a code that appends the type of elements from a given list.
Input
x = [23, ‘Python’, 23.98]
Expected output
[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [5]:
# Append a list with types of elements
x = [23,'Python', 23.98]
n = []
for i in range(len(x)):
    #using type function to get types of elements like integer ,string ,float data types and printing them
    n.append(type(x[i]))
print(n)
print(x)

[<class 'int'>, <class 'str'>, <class 'float'>]
[23, 'Python', 23.98]

4. Write a function that takes a list and returns a new list with unique items of the first list.
Sample List: [1,2,3,3,3,3,4,5]
Unique List: [1, 2, 3, 4, 5]

In [6]:
#Written a function that takes a list and returns a new list with unique items of the first list.
#Sample List: [1,2,3,3,3,3,4,5]
def unique_list(l):
# Initialize an empty list to store unique elements
  x = []
 # Iterate through each element in the input list using for loop
  for a in l:
  # If the element is not already in the list of unique elements, add it
    if a not in x:
      x.append(a)
# Return the list of unique elements
  return x
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

5. Write a function that accepts a string and calculate the number of upper-case letters and lower-case
letters.
Input String: 'The quick Brow Fox'
Expected Output:
No. of Upper-case characters: 3
No. of Lower-case Characters: 12

In [7]:
# Input String: 'The quick Brow Fox'
def string_test(s):
# Initialize a dictionary to count uppercase and lowercase characters
    d={"UPPER_CASE":0, "LOWER_CASE":0}
# Iterate through each character in the string
    for c in s:
 # Check if the character is uppercase
        if c.isupper():
           d["UPPER_CASE"]+=1
 # Check if the character is lowercase
        elif c.islower():
           d["LOWER_CASE"]+=1
 # If the character is neither, do nothing
        else:
           pass
# Print the strings
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])
# Test the function with the input string
string_test('The quick Brow Fox')

Original String :  The quick Brow Fox
No. of Upper case characters :  3
No. of Lower case Characters :  12